# Is apartment-type property cheaper than house-type on Airbnb?

## Introduction

## Preliminary Results

In [34]:
library(tidyverse)
library(tidymodels)

In [35]:
# read data
data <- read.csv("data/train.csv") |>
select(log_price, property_type)
head(data)

  log_price property_type
1 5.010635  Apartment
2 5.129899  Apartment
3 4.976734  Apartment
4 6.620073  House
5 4.744932  Apartment
6 4.442651  Apartment

In [58]:
# calculate ratio of house-type and apartment type to check if there are other types
prop_house_apartment <- data |>
group_by(property_type) |>
summarize(percent = 100 * n()/nrow(data)) |>
arrange(desc(percent))
head(prop_house_apartment, 5)

  property_type percent
1 Apartment     66.121089
2 House         22.278744
3 Condominium    3.586512
4 Townhouse      2.283062
5 Loft           1.678563

In [ ]:
air <- data |>
filter(property_type %in% c("House", "Apartment"))
head(data,4)

In [39]:
nrow(air)

[1] 65514

Define notations as follows:

- $\mu_h =$  population mean log price of house type listings
- $\mu_a =$ population mean log price of apartment type listings
- $x_h =$  sample mean log price of house type listings
- $x_a =$ sample mean log price of apartment type listings
- $\delta = \mu_h - \mu_a$
- $d = x_h - x_a$
- Null hypothesis $H_0: \delta = 0$
- Alternative hypothesis $H_a: \delta >0$

In [33]:
# getting x_a, x_h
sample_mean <- air |>
group_by(property_type) |>
summarise(sample_mean = mean(log_price))

sample_mean

  property_type sample_mean
1 Apartment     4.758850
2 House         4.797114

We observe $x_h > x_a \text{ which implies  } d > 0$.

## Methods: Plan

## References